.inp{
    width: 40%;
    height: 50px;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 6px;
    padding-left: 10px;
}

@media only screen and (max-width: 480px) {
    .inp{
        width: 80%;
    }
}
